html {
	background-color: #260B37;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@font-face {
  font-family: 'Poppins-Regular';
  src: font-url('Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: font-url('Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: font-url('Poppins-SemiBold.ttf') format('truetype');
}

.container {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100vh;
	flex-wrap: wrap;
}

.box {
	background-color: #260B37;
	height: 500px;
	width: 700px;
	-webkit-box-shadow: 6px 6px 19px 2px rgba(0,0,0,0.49);
	-moz-box-shadow: 6px 6px 19px 2px rgba(0,0,0,0.49);
	box-shadow: 6px 6px 19px 2px rgba(0,0,0,0.49);
}

/* .subscribe {
	margin-left: 20px;
  vertical-align: baseline;
  position: relative;
  top:-5px;
}

.validate {
	width: 50px;
}

.inner-box {
	border: 3px solid white;
} */

.box h1 {
	color: #41F2CE;
	font-family: "Poppins-Bold", "Helvetica", "Arial", sans-serif;
	font-size: 40px;
	margin-top: 36px;
	text-align: center;
}

.box h2 {
	color: #41F2CE;
	font-family: "Poppins-Bold", "Helvetica", "Arial", sans-serif;
	font-size: 25px;
	margin-bottom: 10px;
	text-align: center;
}

.box h3 {
	color: #FB6544;
	font-family: "Poppins-Bold", "Helvetica", "Arial", sans-serif;
	font-size: 22px;
	text-align: center;	
}

.box p {
	color: #41F2CE;
	font-family: "Poppins-Regular", "Helvetica", "Arial", sans-serif;
	text-align: center;
	margin-top: 10px;
}

.container .footer {
	background-color: #41F2CE;
	width: 700px;
}

.box .blue-text {
	color: #5794B0;
}

.footer {
	-webkit-box-shadow: 6px 6px 19px 2px rgba(0,0,0,0.49);
	-moz-box-shadow: 6px 6px 19px 2px rgba(0,0,0,0.49);
	box-shadow: 6px 6px 19px 2px rgba(0,0,0,0.49);
}

.footer p {
	color: #260B36;
	text-align: center;
	font-family: "Poppins-Bold", "Helvetica", "Arial", sans-serif;
	margin-top: 20px;	
}

div.email {
	margin: 5px 0px 50px 60px;
}

p.tuned {
	margin-top: 35px;
	text-align: center;
}

.btn-flat {
	color: white;
	font-family: "Poppins-Regular", "Helvetica", "Arial", sans-serif;
}

.submit {
	font-family: "Poppins-Regular", "Helvetica", "Arial", sans-serif;
	color: white;
}

.inner-box {
	margin: 41px 80px 50px 80px;
	border: 3px solid white;
}

.social-icons {
	margin-top: 10px;
	text-align: center;
}

.social-icons .fa {
	margin: 10px;
}

.copyright p {
	font-size: 10px;
	font-family: "Poppins-Regular", "Helvetica", "Arial", sans-serif;
	margin-top: 10px;
	margin-bottom: 30px;
}

.logo {
	text-align: center;
}

.rihanna {	
	position: absolute;
	top: 22px;
}

.lamar {
	position: relative;
	float: right;
	right: 25%;
	bottom: -22px;
}

.rocky {
	position: absolute;
	margin-left: -150px;
	margin-top: 25px;
}

.chance {
	position: absolute;
	height: 120px;
	margin-left: -75px;
	margin-top: 55px;
}

.left-side {
	margin-left: 50px;
}

.right-side {
	position: absolute;
	right: 50px;
}

.musk {
	margin-right: 200px;
}

.serena {
	position: absolute;
	right: 0;
	top: -80px;
	left: 55px;
}

.obama {
	position: absolute;
	margin-left: 50px;
}

.nicki {
	position: absolute;
	margin-top: 200px;
}

.social-links .copy-link {
	border: 3px solid #D1D0C7;
	background: #FFF;
	padding: 10px 10px;
	width: 320px;
	font-family: "Poppins-Regular", "Helvetica", "Arial", sans-serif;
	text-transform: none;
	font-size: 11px;
	margin: 20px auto 0;
}

.social-links {
	display: inline;
	text-align: center;
	// margin-right: 50px;
}
.social-links .fb {
	display: inline;
	float: right;
	margin-right: 150px;
	margin-top: -30px;
}

.social-links .twit {
	display: inline;
	float: right;
	margin-right: 90px;
	margin-top: -30px;
}

.sep {
	height: 20px;
	float: right;
	width: 1px;
	background: #BAB9BA;
	margin-right: 130px;
	margin-top: -30px;
}

.page-content{
	width: 1120px;
	margin: 0 auto;
	z-index: 0;
	position: relative;
}

.prizes{
	// width: 100%;
	background: #260B37;
	// border-top: 1px solid #D2D1C8;
	padding-bottom: 100px;
}

.prizes .page-content{
	position: relative;
}

.prizes .callout{
	text-align: center;
	font-size: 16px;
	color: #41F2CE;
	font-weight: bold;
	margin: 20px 0 0 0;
	font-family: "Poppins-Regular", "Helvetica", "Arial", sans-serif;
}

.prizes .progress{
	height: 4px;
	// width: 100%;
	background: image-url("refer/progress-bg.png") 0 0 repeat-x;
	background-size: 1px 4px;
	position: absolute;
	top: 100px;
	z-index: 0;
}

.prizes .progress .mover{
	position: absolute;
	top: 0;
	left: 0;
}

.prizes .progress .mover .bar{
	background: image-url("refer/progress-done.png") 0 0 repeat-x;
	// width: 165px;
	height: 4px;
	-webkit-background-size: 1px 4px;
	background-size: 1px 4px;
}

.prize-two .progress .mover .bar{ width: 312px; }
.prize-three .progress .mover .bar{ width: 566px; }
.prize-four .progress .mover .bar{ width: 820px; }
.prize-five .progress .mover .bar{ width: 1120px; }


.prizes ul.products{
	height: 105px;
	// width: 100%;
	margin-top: 30px;
	position: relative;
	z-index: 1;
}

.prizes .products li.title{
	height: 100%;
	text-transform: uppercase;
	color: #074E6F;
	font-weight: 500;
	font-size: 14px;
	float: left;
	margin-right: 68px;
	// width: 165px;
	font-weight: bold;
}

.prizes .products li.title .friends{
	margin-top: 7px;
	letter-spacing: 2px;
}

.prizes .products li.title .rewards{
	margin-top: 45px;
	letter-spacing: 2px;
}

.prizes .products li.product{
	height: 100%;
	color: #074E6F;
	// width: 125px;
	margin-right: 129px;
	float: left;
	position: relative;
}

.prizes .products li.product .circle{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	border: 1px solid #DAD9D2;
	text-align: center;
	line-height: 30px;
	color: #868282;
	overflow: hidden;
	background: #F1F0EE;
	font-weight: bold;
	margin: 0 auto;
}

.prizes .products li.product .sep{
	width: 12px;
	height: 2px;
	background: transparent;
	margin: 13px auto 13px;
}

.prizes .products li.product .caret{
	width: 100%;
	height: 10px;
	background: image-url("refer/caret.png") center center no-repeat;
	background-size: 16px 10px;
	position: absolute;
	bottom: -15px;
}

.prizes .products li.product.selected .caret{
	background: image-url("refer/caret-selected.png") center center no-repeat;
	background-size: 16px 10px;
}

.prizes .products li.product p{
	text-align: center;
	font-weight: 500;
}

.prizes .products li.product:last-child{
	margin-right: 0;
}

.prizes .products li.product.last{
	margin-right: 0;
}

.prizes .products li.product.selected .circle{
	background: #995F5E !important;
	border-color: #995F5E !important;
	color: #FFF !important;
}


.prizes .products li.product.selected p{
	color: #995F5E !important;
}

.prizes .products li.product:hover .circle{
	color: #FFF;
	background: #074E6F;
	border-color: #074E6F;
}

.prizes .products li.product .tooltip{
	height: 254px;
	// width: 190px;
	border: 4px solid #074E6F;
	position: absolute;
	top: -285px;
	left: -32px;
	display: none;
	background: #FFF;
}

.prizes .products li.product .tooltip img{
	margin: 0 auto;
	display: block;
}

.prizes .products li.product:hover .tooltip{
	display: block;
}

.prizes p.place{
	text-align: center;
	font-size: 16px;
	color: #074E6F;
	width: 100%;
	font-weight: 500;
	margin-top: 30px;
}

.prizes p.place span{
	color: #995F5E;
}

.prizes p.check{
	text-align: center;
	font-size: 16px;
	color: #858181;
	width: 100%;
	font-weight: 500;
	margin-top: 5px;
}

.prizes p.ship{
	text-align: center;
	font-size: 16px;
	color: #858181;
	width: 100%;
	font-weight: 500;
	margin-top: 50px;
}

.prizes a.policy{
	text-align: center;
	font-size: 12px;
	color: #CCCCCC;
	width: 100%;
	font-weight: 500;
	margin-top: 5px;
	display: block;
	text-decoration: none;
}

/*
	RETINA
*/
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.prizes .progress{
		background: image-url("refer/progress-bg@2x.png") 0 0 repeat-x;
		background-size: 1px 4px;
	}

	.prizes .progress .mover .bar{
		background: image-url("refer/progress-done@2x.png") 0 0 repeat-x;
		background-size: 1px 4px;
	}

	.prizes .progress .mover .razor{
		background: image-url("refer/razor@2x.png") 0 0 no-repeat;
		background-size: 82px 23px;
	}

	.prizes .products li.product .caret{
		background: image-url("refer/caret@2x.png") center center no-repeat;
		background-size: 16px 10px;
	}

	.prizes .products li.product.selected .caret{
		background: image-url("refer/caret-selected@2x.png") center center no-repeat;
		background-size: 16px 10px;
	}
}
